{
    "[r]": {
        "editor.defaultFormatter": "REditorSupport.r",
        "editor.detectIndentation": false,
        "editor.formatOnSave": true,
        "editor.indentSize": "tabSize",
        "editor.insertSpaces": true,
        "editor.tabSize": 4
    },
    "[rmd]": {
        "editor.defaultFormatter": "REditorSupport.r",
        "editor.formatOnSave": true,
        "editor.indentSize": "tabSize",
        "editor.insertSpaces": true,
        "editor.tabSize": 4
    },
    "[R]": {
        "editor.defaultFormatter": "REditorSupport.r",
        "editor.detectIndentation": false,
        "editor.formatOnSave": true,
        "editor.indentSize": "tabSize",
        "editor.insertSpaces": true,
        "editor.tabSize": 4
    },
    "[Rmd]": {
        "editor.defaultFormatter": "REditorSupport.r",
        "editor.formatOnSave": true,
        "editor.indentSize": "tabSize",
        "editor.insertSpaces": true,
        "editor.tabSize": 4
    },
    "editor.rulers": [
        80
    ],
    "files.associations": {
        "*.Rmd": "rmd"
    },
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "r.alwaysUseActiveTerminal": false,
    "r.lsp.debug": true,
    "r.lsp.diagnostics": true,
    "r.lsp.enabled": true,
    "r.session.data.pageSize": 0,
    "r.session.data.rowLimit": 100000,
    "r.session.emulateRStudioAPI": true,
    "r.session.levelOfObjectDetail": "Detailed",
    "r.session.objectTimeout": 100000,
    "r.session.useWebServer": true,
    "r.session.viewers.viewColumn": {
        "plot": "Active",
        "viewer": "Active",
        "view": "Active",
        "helpPanel": "Active"
    },
    "r.session.watchGlobalEnvironment": true,
    "r.sessionWatcher": true,
    "r.source.encoding": "UTF-8",
    "r.source.focus": "editor",
    "r.workspaceViewer.clearPrompt": false,
    "r.workspaceViewer.removeHiddenItems": true,
    "r.workspaceViewer.showObjectSize": true
}
